<div class="hero">
    <div class="hero_bg_image z0">
        <img class="lazyload" src="{{ 'www.knobcreek.com-1293609732325191.jpg' |  asset_url}}" alt="Hero Image" srcset="{{ srcset }}"
        sizes="auto">
    </div>
    <div class="gradient_layer z1"></div>
    <div class="main_hero_content_container z2">
        <div class="hero_text_content">
            <h1 class="title_hero">Maple Never
                Tasted So Good</h1>
            <p class="paragraph_hero">We blend this bourbon with natural smoked maple flavors for a unique, smoky sweetness. Full bodied, inviting maple notes that lift to smoke and are complemented with rich vanilla caramel. Smoked hickory and maple wood, with hints of earthy grains.</p>
        </div>
        <div class="hero_main_image">
            <img class="lazyload" src="{{ 'www.knobcreek.com-1310894113736742.png' |  asset_url}}" alt="Hero Main Image" srcset="{{ srcset }}"
            sizes="auto">
        </div>
    </div>
</div>